    
/* historial.css */

#historial-container {
  padding: 2rem;
  background-color: #ecece3;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  font-family: 'Segoe UI', sans-serif;
}

.historial-titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.buscador-filtro {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.buscador-filtro input {
  flex-grow: 1;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.buscador-filtro i {
  margin-left: -30px;
  cursor: pointer;
}

.filtro-dropdown {
  position: relative;
  margin-left: 1rem;
}

.filtro-dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 220px;
  padding: 1rem;
  z-index: 10;
}

.filtro-dropdown:hover .filtro-dropdown-content {
  display: block;
}

.reporte-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reporte-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reporte-info .icono-alerta {
  width: 25px;
}

.estado {
  padding: 0.4rem 1rem;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.estado.solucionado {
  background-color: #4CAF50;
}

.estado.pendiente {
  background-color: #ff9966;
}

.reporte-datos {
  font-weight: bold;
}
