/* Estilos para la sección de Infórmate */


h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center; /* Centrar el título */
}

.card {
    background-color: #fff; /* Fondo blanco para las tarjetas */
    border: 1px solid #eaeaea; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px;
    margin-bottom: 20px; /* Espacio entre tarjetas */
    transition: box-shadow 0.3s; /* Transición suave para el efecto hover */
}

.card:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Sombra al pasar el ratón */
}

.card strong {
    font-size: 18px; /* Tamaño de fuente para el título de la tarjeta */
    color: #444; /* Color del texto en negrita */
    display: block; /* Hacer que el título ocupe toda la línea */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.card p {
    color: #555; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    margin: 0; /* Eliminar margen del párrafo */
}

.card img {
    width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados para la imagen */
    margin-top: 10px; /* Espacio encima de la imagen */
}
