/* Estilos para la sección de Notificaciones */
.content-section {
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.notificaciones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notificaciones-header h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.icono-config {
    width: 24px; /* Tamaño del icono de configuración */
    height: 24px;
}

.notificaciones-wrapper {
    margin-top: 10px;
}

.notificacion {
    display: flex;
    align-items: center;
    background-color: #fff; /* Fondo blanco para las notificaciones */
    border: 1px solid #eaeaea; /* Borde sutil */
    border-radius: 5px; /* Bordes redondeados */
    padding: 15px;
    margin-bottom: 15px; /* Espacio entre notificaciones */
    transition: box-shadow 0.3s; /* Transición suave para el efecto hover */
}

.notificacion:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); /* Sombra al pasar el ratón */
}

.notificacion img {
    width: 40px; /* Tamaño de los iconos de notificación */
    height: 40px;
    margin-right: 15px; /* Espacio entre el icono y el texto */
}

.notificacion p {
    margin: 0; /* Eliminar margen del párrafo */
    color: #555; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
}

.notificacion strong {
    color: #333; /* Color del texto en negrita */
}

.notificacion a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

.notificacion a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}
